@model Ecommerce.Models.ViewModels.ProductUserVM

<form method="post">
    <br />
    <div class="backgroundWhiteBorder">
        <div class="container">
            <div class="card">
                <div class="card-header bg-dark text-light ml-0 row container">
                    <div class="col-6">
                        Order Summary
                    </div>
                    <div class="col-6 text-right">
                        <a class="btn btn-outline-info btn-sm" asp-action="Index">Back to Cart</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container rounded p-2">
                        <div class="row">
                            <div class="col-12 col-lg-7 pb-4">
                                <div class="row">
                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="text-info">Details:</span>
                                    </h4>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="ApplicationUser.FullName" type="text" class="form-control" />
                                        <span asp-validation-for="ApplicationUser.FullName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Phone</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="ApplicationUser.PhoneNumber" required type="text" class="form-control" />
                                        <span asp-validation-for="ApplicationUser.PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="ApplicationUser.Email" required type="text" class="form-control" />
                                        <span asp-validation-for="ApplicationUser.Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Address</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="ApplicationUser.StreetAddress" type="text" class="form-control" />
                                        <span asp-validation-for="ApplicationUser.StreetAddress" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>City</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="ApplicationUser.City" type="text" class="form-control" />
                                        <span asp-validation-for="ApplicationUser.City" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>State</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="ApplicationUser.State" type="text" class="form-control" />
                                        <span asp-validation-for="ApplicationUser.State" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>PIN Code</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="ApplicationUser.PostalCode" type="text" class="form-control" />
                                        <span asp-validation-for="ApplicationUser.PostalCode" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-5 row">
                                <div class="col-12">
                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="text-info">Summary:</span>
                                    </h4>
                                    <ul class="list-group mb-3">

                                        @{ var orderTotal = 0.0;}

                                        @for (int i = 0; i < Model.ProductList.Count(); i++)
                                        {
                                            <input type="hidden" asp-for="@Model.ProductList[i].Id" />
                                            <input type="hidden" asp-for="@Model.ProductList[i].Name" />
                                            <li class="list-group-item d-flex justify-content-between">
                                                <div>
                                                    <h6 class="my-0">@Model.ProductList[i].Name</h6>
                                                    <small class="text-muted">Qty: @Model.ProductList[i].Qty</small>
                                                    <small class="text-muted">Price: $@Model.ProductList[i].Price</small>
                                                </div>
                                                <span class="text-muted">$@(Model.ProductList[i].Price * Model.ProductList[i].Qty)</span>
                                            </li>
                                            orderTotal += Model.ProductList[i].Price * Model.ProductList[i].Qty;
                                        }
                                        <li class="list-group-item d-flex justify-content-between bg-light">
                                            <strong class="text-info"> TOTAL: </strong>
                                            <strong class="text-info">$@orderTotal</strong>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-12 col-md-5 offset-md-7">
                            <button type="submit" class="btn btn-primary form-control">Place Order</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}